body {
  padding-top: 50px;
}
textarea {
    resize: vertical;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.margin-top-15 {
    margin-top: 15px;
}
.width-100 {
    width: 100%;
}
.title-field {
    border-bottom: 1px dotted #555;
    font-weight: bold;
    text-align: left;
}