**/Thumbs.db
/nbproject/private/
nbproject/project.properties
nbproject/project.xml
includes/js/initFsCMSen.js
includes/js/initFsCMSru.js
.htaccess
settings/Settings.php
settings/dbSettings.php
temp/
cache/